@{
}
<form action="/home/registration" method="post">
    <input type="text" name="username" value="" />
    <input type="email" name="email" value="" />
    <input type="password" name="password" value="" />
    <button type="submit">Ok</button>
</form>
