@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var authResult = (await authorizationService.AuthorizeAsync(User, "Claim.Secret")).Succeeded;
}

<h1>Do Staff page</h1>

@if (authResult)
{
    <p>User: @User.Identity.Name</p>
    <p>Some text here</p>
}
